$header-color: #4e4e4e;
$header-bg-color: #e6e6e6;
$header-font-family: "Roboto Condensed", sans-serif;

$banner-title-color: #fff;
$banner-descr-color: #a8a8a8;
$banner-main-font: "Roboto Slab", serif;
$banner-btn-color: #fff;
$banner-btn-font: "Roboto Condensed", sans-serif;

$services-title-color: #4e4e4e;
$services-title-font: "Roboto Slab", serif;
$services-descr-color: #000;
$services-descr-font: "Roboto", sans-serif;

$work-accent-color: #4e4e4e;
$work-title-font: "Roboto Condensed", sans-serif;
$work-item-title-font: "Roboto Slab", serif;
$work-item-second-title-color: #adadad;
$work-item-descr-font: "Roboto", sans-serif;
$work-item-descr-color: #5c5c5c;

$testimonials-color: #a1a1a1;
$testimonials-font: "Roboto Slab", serif;

$footer-title-color: #6c6c6c;
$footer-title-font: "Roboto Condensed", sans-serif;
$footer-descr-color: #cacaca;
$footer-descr-font: "Roboto", sans-serif;
$footer-second-descr-font: "Roboto Slab", serif;
