$header-color: #4e4e4e;
$header-bg-color: #e6e6e6;
$header-font-family: "Roboto Condensed", sans-serif;

$banner-title-color: #fff;
$banner-descr-color: #a8a8a8;
$banner-main-font: "Roboto Slab", serif;
$banner-btn-color: #fff;
$banner-btn-font: "Roboto Condensed", sans-serif;

$services-title-color: #4e4e4e;
$services-title-font: "Roboto Slab", serif;
$services-descr-color: #000;
$services-descr-font: "Roboto", sans-serif;

$work-accent-color: #4e4e4e;
$work-title-font: "Roboto Condensed", sans-serif;
$work-item-title-font: "Roboto Slab", serif;
$work-item-second-title-color: #adadad;
$work-item-descr-font: "Roboto", sans-serif;
$work-item-descr-color: #5c5c5c;
// font-family: "Roboto", sans-serif;

// font-family: "Roboto Slab", serif;
